<script setup lang="ts">
  import { useTodoStore } from '@/stores/todo';
  import { ref } from 'vue';

  const todoStore = useTodoStore();

  const text = ref<string>('');

  const addTodo = () => {
    const todo = {
      finished: false,
      id: Math.random() * 100,
      text: text.value,
    };

    todoStore.addTodo(todo);
    text.value = '';
  };
</script>

<template>
  <div class="container mx-auto flex flex-col items-center space-y-5">
    <h1 class="text-3xl font-bold">Todo</h1>
    <form @submit.prevent="addTodo">
      <input
        v-model="text"
        type="text"
        placeholder="todo..."
        class="py-2 px-4 border border-violet-500 outline-none"
      />

      <button type="submit" class="p-2 ml-3 border border-violet-800">
        Submit
      </button>
    </form>

    <ul class="space-y-2">
      <li v-for="todo in todoStore.todos" :key="todo.id" class="p-2 bg-red-300">
        {{ todo.text }} - completed:
        <span class="font-bold">{{ todo.finished }}</span>
      </li>
    </ul>
  </div>
</template>
